<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to root_path(q: {tags_name_cont: tag.id}) do %>
        <span class='badge bg-secondary'><%= tag.name %></span>
        <% end %>
    </li>
  <% end %>
</ul>