<nav class="navbar navbar-expand-lg bg-body-tertiary px-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">夢日記</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/tags">タグ一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users">ユーザー一覧</a>
        </li>
      </ul>
      <div class="d-flex nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          個人画面
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">個人情報確認</a></li>
          <li><a class="dropdown-item" href="#">個人データ分析</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>